<div class="container">
    <h1>Thông Tin Phiếu Khám của Bệnh Nhân</h1>{{bn.tenbenhnhan}}
    <p></p>
                <div class="form-group">
                  <label>Ngày Khám:</label>
                  <output>{{bn.ngaykham.date()}}</output>
               </div>

                <div class="form-group">
                  <label>Tiền Khám:</label>
                    {% for t in tienkham %}
                    <output>{{t.sotien}}   VNĐ</output>
                    {% endfor %}
               </div>
				<div class="form-group">
                  <label>Tiền Thuốc:</label>
                  <output>{{tt}} VNĐ</output>
               </div>

</div>