{% extends 'base/base.html' %}
<title>Quyền quản trị user</title>
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container d-flex align-items-center">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="/danhsach" class="nav-link pl-0">Bệnh Nhân Đăng Ký</a></li>
	        	<li class="nav-item active"><a href="/tracuu" class="nav-link pl-0">Tra cứu</a></li>
	        	<li class="nav-item active"><a href="/baocao" class="nav-link">Báo Cáo</a></li>
	        	<li class="nav-item active"><a href="/hoadon" class="nav-link">Hóa Đơn</a></li>
	        	<li class="nav-item active"><a href="/login-admin" class="nav-link">Đăng Xuất</a></li>
	        	<li class="nav-item active"><a href="/" class="nav-link">Quay Lại Trang Chủ</a></li>
	        </ul>
	      </div>

</div>
</nav>
<section class="hero-wrap hero-wrap-2" style="background-image: url({{url_for('static',filename='home/images/bg_1.jpg')}});" data-stellar-background-ratio="0.5">
              <div class="overlay"></div>
              <div class="container">
                  <div class="row no-gutters slider-text align-items-center justify-content-center">
                      <div class="col-md-9 ftco-animate text-center">
                          <h1 class="mb-2 bread">WelCome to Admin</h1>
                          <p class="breadcrumbs"><span class="mr-2"><a href="#">Home <i class="ion-ios-arrow-forward"></i></a></span> <span><i class="ion-ios-arrow-forward"></i></span></p>
                      </div>
                  </div>
              </div>
	</section>
{% endblock %}
{% block content %}
{% endblock %}