{% extends 'baseuser/List.html' %}
{% block content %}
  <div class="container">
        <p></p>
            <h2 class="text-center text-info">Thay Đổi Thông Tin Bệnh Nhân</h2>
        <p></p>
            <form action="{{ url_for('updatebn') }}" method="POST">

               <div class="form-group">

                  <label>Tên Bệnh Nhân:</label>
                   <input type="hidden"  name="id" value="{{bn.mabenhnhan}}">
                  <input type="text" class="form-control" name="name" value="{{bn.tenbenhnhan}}">


               </div>


                <div class="form-group">


                  <label>Năm Sinh:</label>
                  <input type="date" class="form-control" name="birth" value="{{bn.namsinh}}">


               </div>


                <div class="form-group">


                  <label>Địa Chỉ:</label>
                  <input type="text" class="form-control" name="address" value="{{bn.diachi}}">


               </div>


				<div class="form-group">


                  <label>Giới Tính:</label>
                  <input type="text" class="form-control" name="gender" value="{{bn.gioitinh}}">


               </div>

				<div class="form-group">


                  <label>Số Điện thoại:</label>
                  <input type="number" class="form-control" name="phone" value="{{bn.sodienthoai}}">


               </div>


				<div class="form-group">


                  <label>Ngày Tới khám:</label>
                  <input type="date" class="form-control" name="date" value="{{bn.ngaykham}}">


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Cập Nhật</button>


               </div>
            </form>


         </div>
</div>
{% endblock %}