<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
<!--    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">-->
<!--    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">-->
</head>
<body>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item active"><a href="/danhsach" class="nav-link pl-0">Danh sách bệnh nhân</a></li>
	        	<li class="nav-item"><a href="about.html" class="nav-link">Lập báo cáo</a></li>
	        	<li class="nav-item"><a href="doctor.html" class="nav-link">Lập doanh thu</a></li>
	        	<li class="nav-item"><a href="doctor.html" class="nav-link">Lập hóa đơn</a></li>
                <li class="nav-item"><a href="pricing.html" class="nav-link">Lập báo cáo sử dụng thuốc</a></li>
	        	<li class="nav-item"><a href="department.html" class="nav-link">Phiếu khám</a></li>
	        	<li class="nav-item"><a href="/login-admin" class="nav-link">Đăng Xuất</a></li>
	        </ul>
	      </div>
</body>
</html>